{{#if resume.skills.length}}
  <div class="container skills-container">
    {{> title value="Skills"}}

    {{#each resume.skills}}
      <section class="item">
        {{#if name}}
          <h4 class="bold">{{name}}</h4>
        {{/if}}
        {{#if level}}
          <h5>{{level}}</h5>
        {{/if}}
        {{#if keywords.length}}
          <ul class="minimal">
            {{#each keywords}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    {{/each}}
  </div>
{{/if}}
