{{#if resume.skills.length}}
    <div>
        {{#each resume.skills}}
            <section class="container skills-container">
                {{#if name}}
                    {{> title value=name}}
                {{/if}}
                {{#if level}}
                    <h4 class="bold">{{level}}</h4>
                {{/if}}
                {{#if keywords.length}}
                    <ul class="minimal">
                        {{#each keywords}}
                            <h6>{{.}}</h6>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </div>
{{/if}}
