{{#resume.basics}}
{{#if (or summary highlights)}}
<div class="container summary-container">
    {{> title value="Summary"}}
    {{#if summary}}
    <p class="summary">{{{markdown summary }}}</p>
    {{/if}}
    {{#if highlights}}
    <ul>
    {{#each highlights}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    {{/if}}
</div>
{{/if}}

{{/resume.basics}}
